/* ==== font-faces ==== */

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'),
       url("https://cdn.jsdelivr.net/gh/li-zyang/fonts/Droid%20Serif%20Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'),
       url("https://cdn.jsdelivr.net/gh/li-zyang/fonts/Source%20Code%20Pro.woff") format('woff'),
       url("https://cdn.jsdelivr.net/gh/li-zyang/fonts/Source%20Code%20Pro%20Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'shimo font';
  font-style: normal;
  font-weight: 400;
  src: local('shimo font'),
       url("https://cdn.jsdelivr.net/gh/li-zyang/fonts/shimo%20font.ttf") format('truetype');
}